<h1>show a commment</h1>
<div class="show-comment-container">
  <%= render :partial => @comment %>

  <div class="comment-tags">
    <ul>
     <!-- shows all commment tags for this comment. ... or just build the tags into the partial?
          perhaps have the tags be deleteable for the tag creater -->
    </ul>
  </div>
</div>
