<div style="text-align:center;">
  <h1>What is Jeff's Bikes?</h1>
</div>


<p style="text-align: center;">
  Jeff's Bikes is a database of bikes including tons of info on each one. This site allows for updating and editing of bikes that you have added.</br>
   You can also comment on bikes, search for bikes, and generally geek out on bikes! :)
</p>
