<h1>What is Jeff's Bikes</h1>

<p>
  Jeff's Bikes is a database of bikes including tons of info on each one. This site allows for updating and editing of bikes that you have added. You can also comment on bikes. 
</p>
